<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Criptobook</title>
    </head>
    <body>
        <h1>Criptobook</h1>
        <p>listado de operaciones de compraventa de criptomonedas</p>
        <table border="1">
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Descripcion</th>
                <th>Moneda</th>
                <th>U. Compradas</th>
                <th>Monedas</th>
                <th>U. Pagadas</th>
            </tr>

        </table>

        <form action="nuevacompra" method="GET">
            <input type="submit" value="Nueva">
        </form>

    </body>
</html>