<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Nueva compra</title>
    </head>
    <body>
        <form action= "nuevacompra" method="POST">
            <input type="date" name="Fecha" id="Fecha">
            <input type="time" name="Hora" id="Hora">
            <input type="text" name="descripcion " id="descripcion">
            <select name="Monedacomprada" id="monedacomprada">
                <option value="EUR">Euro</option>
                <option value="BTC">Bitcoin</option>
                <option value="ETH">Ethereum</option>   
                <option value="LTC">Litecoin</option>
            </select>
            <input type="number" name="Cantidadcomprada" id="Cantidadcomprada">
            <select name="Monedapagada" id="monedapagada">
                    <option value="EUR">Euro</option>
                    <option value="BTC">Bitcoin</option>
                    <option value="ETH">Ethereum</option>
                    <option value="LTC">Litecoin</option>
                </select>
            <input type="number" name="Cantidadpagada" id="Cantidadpagada">
            <input type="submit" value="Aceptar">
        </form>

    </body>
</html>